.canvas {
  position: relative;
  width: min(320px, 70vw);
  height: min(320px, 70vw);
  max-width: 320px;
  max-height: 320px;
  aspect-ratio: 1 / 1;
  display: grid;
  place-items: center;
  filter: drop-shadow(0 18px 35px rgba(0, 0, 0, 0.25));
}

.canvas canvas {
  width: 100%;
  height: 100%;
  display: block;
}
